<div class="container">

  <div class="page-header">
    <div class="pull-right">
      {{#if currentUser}}
        <button {{action 'logout'}} class="btn">Logout</button>
      {{else}}
        <button {{action 'login'}} class="btn btn-primary">Login with Mozilla Persona</button>
      {{/if}}
    </div>

    <h1>
      {{#linkTo 'index'}}Baron{{/linkTo}}

      {{#if currentUser}}
        <small>{{currentUser.email}}</small>
      {{/if}}
    </h1>
  </div>

  {{#if currentUser}}
    {{render 'calls'}}
    {{render 'requests'}}

    <div class="row">
      <div class="col-md-4">
        {{render 'contacts'}}
      </div>

      <div class="col-md-8">
        {{outlet}}
      </div>
    </div>
  {{/if}}

</div>
