<div class="panel panel-default">
  <div class="panel-heading">Chat with {{email}}</div>

  <div class="panel-body">
    {{#if isOnline}}
      {{#if isReceivingCall}}
        <p>{{email}} is calling you right now</p>
      {{else}}
        {{#if connected}}
          <button class="btn btn-danger" {{action 'hangup'}}><i class="fa fa-power-off"></i> Hang up</button>

          <form role="form" class="form-inline">
            <div class="form-group">
              {{input type="text" disabled=cannotChat value=newMessage class="form-control" autocomplete="off"}}
            </div>

            <button {{bind-attr disabled=cannotChat}} class="btn btn-success" {{action 'sendMessage'}}><i class="fa fa-mail-reply"></i> Post</button>
          </form>
        {{else}}
          {{#if waiting}}
            <p>
              <button class="btn btn-danger" {{action 'drop'}}><i class="fa fa-times"></i> Cancel</button>
              Ringing...
            </p>
          {{else}}
            <button class="btn btn-success" {{action 'start' true false}}><i class="fa fa-power-off"></i> Initiate text chat</button>
            <button class="btn btn-info" {{action 'start' false false}}><i class="fa fa-phone"></i> Call with audio</button>
            <button class="btn btn-info" {{action 'start' false true}}><i class="fa fa-video-camera"></i> Call with video</button>
          {{/if}}
        {{/if}}
      {{/if}}
    {{else}}
      <p>{{email}} is currently <strong>offline</strong></p>
    {{/if}}

    <hr>

    {{#if hasMedia}}
      {{view App.MediaView}}
    {{/if}}

    <div class="scrollable">
      {{#each message in messages}}
        <dl class="dl-horizontal">
          <dt>
            {{message.from.email}}
            <br>
            <abbr class="text-muted" {{bind-attr title='message.dateFull'}}>{{message.dateTime}}</abbr>
          </dt>

          <dd>{{message.text}}</dd>
        </dl>
      {{else}}
        <p>No messages to display</p>
      {{/each}}
    </div>
  </div>
</div>

