<div class="panel panel-default">
  <div class="panel-heading">Chat with {{email}}</div>

  <div class="panel-body">
    {{#if connected}}
      <button class="btn btn-danger" {{action 'hangup'}}>Hang up</button>
    {{else}}
      <button class="btn btn-success" {{action 'start'}}>Initiate chat</button>
      <button class="btn" {{action 'call' false}}>Call</button>
      <button class="btn" {{action 'call' true}}>Call with video</button>
    {{/if}}

    <hr>

    <form role="form">
      <div class="form-group">
        {{input type="text" value=newMessage class="form-control"}}
      </div>

      <button class="btn btn-success" {{action 'sendMessage'}}>Post</button>
    </form>
  </div>

  <table class="table">
    <tbody>
      {{#each message in messages}}
        <tr>
          <td>{{message.from.email}}</td>
          <td>{{message.text}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

