<div class="list-group">
  {{#each contact in controller}}
    {{#link-to 'chat' contact class="list-group-item" }}
      {{#if contact.isOnline}}
        <i class="fa fa-circle online-status"></i>
      {{else}}
        <i class="fa fa-circle-o online-status"></i>
      {{/if}}

      <h4 class="list-group-item-heading">
        {{contact.email}}
      </h4>

      <p class="list-group-item-text">
        {{#if contact.isOnline}}
          online
        {{else}}
          offline
        {{/if}}
      </p>
    {{/link-to}}
  {{else}}
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">No contacts</h4>
      <p class="list-group-item-text">Add some below</p>
    </a>
  {{/each}}
</div>

<form class="form-inline" role="form">
  <div class="form-group">
    {{input type="text" value=newContact class="form-control" placeholder="Enter friend's e-mail address"}}
  </div>

  <button class="btn btn-success" {{action 'add'}}><i class="fa fa-plus"></i> Add</button>
</form>
