<div class="list-group">
  {{#each contact in controller}}
    {{#link-to 'chat' contact class="list-group-item" }}
      <h4 class="list-group-item-heading">
        {{contact.email}}
        <span class="badge">{{contact.remoteMessagesCount}}</span>
      </h4>
      <p class="list-group-item-text">{{contact.status}}</p>
    {{/link-to}}
  {{else}}
    <a href="#" class="list-group-item">No contacts</a>
  {{/each}}
</div>

<form role="form">
  <div class="form-group">
    {{input type="text" value=newContact class="form-control"}}
  </div>

  <button class="btn btn-success" {{action 'add'}}>Add</button>
</form>
